<div class="select-container" [class.w-full]="fullWidth">
  <label *ngIf="label" [for]="id" [class]="labelClasses">
    {{ label }}
    <span *ngIf="required" class="text-red-500 ml-1">*</span>
  </label>
  
  <div class="relative">
    <select
      [id]="id"
      [name]="name"
      [disabled]="disabled"
      [required]="required"
      [class]="selectClasses"
      [(ngModel)]="value"
      (change)="onSelectChange($event)"
      (blur)="onSelectBlur($event)"
      (focus)="onSelectFocus($event)"
    >
      <option value="" disabled selected hidden>{{ placeholder }}</option>
      <option *ngFor="let option of options" [value]="option.value" [disabled]="option.disabled">
        {{ option.label }}
      </option>
    </select>
    
    <!-- Flecha personalizada -->
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
      </svg>
    </div>
  </div>
  
  <div *ngIf="errorText" class="text-xs text-red-600 mt-1">
    {{ errorText }}
  </div>
  
  <div *ngIf="!errorText && helperText" [class]="helperTextClasses">
    {{ helperText }}
  </div>
</div>