/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar fuente Century Gothic */
@font-face {
  font-family: 'Century Gothic';
  src: local('Century Gothic');
  font-weight: normal;
  font-style: normal;
}

/* Variables globales */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  --color-primary: #17692F;
  --color-primary-h: #799c29;
  --color-primary-a: #104f23;
  
  --color-gold-dark: #ba7419;
  --color-gold-medium: #c79c1b;
  
  --color-gold-dark-50: #ba741980;
  --color-gold-medium-50: #f9d87780;
  
  --highlight-text-color: #1e9641;
}

/* Estilos base */
body {
  font-family: 'Century Gothic', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}